/* General Styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  width: 340px;
}

h1 {
  font-size: 20px;
}

#description {
  font-size: 14px;
  margin-top: 10px;
}

/* Usage Info Box with Border */
#usage-info {
  box-shadow: 0px 0px 30px #d1d9de;
  border-radius: 20px;
  padding: 26px;
  margin-top: 30px;
  font-size: 14px;
  text-align: left;
}

#usage-info p {
  margin: 8px 0;
}

/* Status Container */
#status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 6px;
  font-weight: bold;
}

.status-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

/* Status Colors */
.connected {
  background-color: rgb(40, 166, 40);
}

.disconnected {
  background-color: rgb(255, 88, 88);
}

/* Button Styling */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s;
  margin-top: 30px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004094;
}
